.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  color: #F2F2F3;
}

.burgerErrorWindow {
  width: 49%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.constructor-element__row {
  width: 100%;
}

.inputForm {
  width: 100%;
  padding: 20px 24px !important;
  background-color: rgba(47, 47, 55, 1);
  border-radius: 40px;
  border: none;
  box-sizing: border-box;
  color: #FFF;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.orderSuccessStatusColor {
  color: #00CCCC;
}