.headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 8px;
    background: inherit;
    border: none;
    cursor: pointer;
    opacity: 75%;
    font-weight: 400;
}

.headerBtn:hover {
    opacity: 1;
}

.btnGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: auto;
    gap: 8px;
}

.header {
    height: auto;
    display: flex;
    width: 82%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header {
    background-color: #1C1C21;
    width: 100%;
    border: 2px #4C4CFF solid;
    display: flex;
    align-items: center;
    justify-content: center;
}